html {
  margin-top: 0px !important; }

.w-p-1 {
  width: 1%; }

.w-p-20 {
  width: 20%; }

.form-control *[disabled] {
  color: #bbb; }

.filters select,
.filters input {
  max-width: 200px; }

body {
  padding-top: 60px; }

body.admin-bar {
  padding-top: 90px; }
  body.admin-bar .navbar.fixed-top {
    top: 34px; }

.hidden {
  display: none; }

.alert[role="alert"] {
  cursor: pointer; }

.table .row {
  margin-left: 0;
  margin-right: 0; }

.page-title {
  font-weight: 300;
  text-align: center;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px; }

.circle-blue {
  display: inline-block;
  border-radius: 100%;
  border: 4px solid #fff;
  background-color: #007bff;
  width: 32px;
  height: 32px; }

.circle-green {
  display: inline-block;
  border-radius: 100%;
  border: 4px solid #fff;
  background-color: #5cb85c;
  width: 32px;
  height: 32px; }

.circle-red {
  display: inline-block;
  border-radius: 100%;
  border: 4px solid #fff;
  background-color: #d9534f;
  width: 32px;
  height: 32px; }

.circle-gray {
  display: inline-block;
  border-radius: 100%;
  border: 4px solid #fff;
  background-color: #ccc;
  width: 32px;
  height: 32px; }

.details-tooltip {
  display: inline-block; }
  .details-tooltip:after {
    content: "?";
    border: 1px solid #000;
    line-height: 17px;
    border-radius: 4px;
    padding: 0px 4px;
    cursor: default;
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
    font-weight: 500;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
  .details-tooltip:hover:after {
    background-color: #117a8b;
    border-color: #10707f; }

.edc-double-confirm-btn input[type=checkbox] {
  position: relative;
  top: 2px;
  margin-right: 4px; }

.mce-tinymce .mce-branding {
  display: none; }

.kgvid_wrapper:hover .vjs-big-play-button {
  opacity: 0.6; }

.alert {
  margin-bottom: 0;
  display: none; }
  .alert.alert-primary {
    display: block; }

.navbar-brand {
  position: relative; }
  .navbar-brand .user-id {
    position: absolute;
    left: 0;
    top: 31px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5); }

.main-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000000; }
  .main-overlay__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: #000;
    opacity: 0.3; }
  .main-overlay__loader {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 100px;
    height: 100px;
    transform: scale(0.6); }

@keyframes ldio-5aaut65ixpj {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

.ldio-5aaut65ixpj div {
  box-sizing: border-box !important; }

.ldio-5aaut65ixpj > div {
  position: absolute;
  width: 88px;
  height: 88px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #ec1e25 transparent #ec1e25 transparent;
  animation: ldio-5aaut65ixpj 2.9411764705882355s linear infinite; }
  .ldio-5aaut65ixpj > div:nth-child(2), .ldio-5aaut65ixpj > div:nth-child(4) {
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    animation: ldio-5aaut65ixpj 2.9411764705882355s linear infinite reverse; }
  .ldio-5aaut65ixpj > div:nth-child(2) {
    border-color: transparent #00599e transparent #00599e; }
  .ldio-5aaut65ixpj > div:nth-child(3) {
    border-color: transparent; }
    .ldio-5aaut65ixpj > div:nth-child(3) div {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(45deg); }
      .ldio-5aaut65ixpj > div:nth-child(3) div:before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: -8px;
        left: 32px;
        background: #ec1e25;
        border-radius: 50%;
        box-shadow: 0 80px 0 0 #ec1e25; }
      .ldio-5aaut65ixpj > div:nth-child(3) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: -8px;
        left: 32px;
        background: #ec1e25;
        border-radius: 50%;
        box-shadow: 0 80px 0 0 #ec1e25;
        left: -8px;
        top: 32px;
        box-shadow: 80px 0 0 0 #ec1e25; }
  .ldio-5aaut65ixpj > div:nth-child(4) {
    border-color: transparent; }
    .ldio-5aaut65ixpj > div:nth-child(4) div {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: rotate(45deg); }
      .ldio-5aaut65ixpj > div:nth-child(4) div:before {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: -8px;
        left: 23px;
        background: #00599e;
        border-radius: 50%;
        box-shadow: 0 62px 0 0 #00599e; }
      .ldio-5aaut65ixpj > div:nth-child(4) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 8px;
        height: 8px;
        top: -8px;
        left: 23px;
        background: #00599e;
        border-radius: 50%;
        box-shadow: 0 62px 0 0 #00599e;
        left: -8px;
        top: 23px;
        box-shadow: 62px 0 0 0 #00599e; }

.loadingio-spinner-double-ring-47vm2rwi136 {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden; }

.ldio-5aaut65ixpj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; }

body > .main-content {
  max-width: 1024px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }
  body > .main-content .even-node-comfortable-reading {
    background: #e9ecef;
    padding: 10px; }
  body > .main-content .subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px; }
  body > .main-content .subtitle-devider {
    margin-bottom: 45px;
    border-bottom: 1px solid #212529;
    width: 100%;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto; }
  body > .main-content .idea-author {
    display: block;
    text-align: right;
    font-size: 10px; }
  body > .main-content .anchor {
    color: inherit;
    outline: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    body > .main-content .anchor.active {
      background-color: yellow; }
  body > .main-content .demo-list-item {
    padding-left: 26px; }

.edc-course-lesson .main-content .lesson-description {
  text-align: center;
  font-style: italic;
  margin-top: 23px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px; }

.edc-course-lesson .main-content .image-cont {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  text-align: center; }

.edc-course-lesson .main-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px; }

.edc-course-lesson .main-content .videos {
  font-size: 0px; }
  .edc-course-lesson .main-content .videos .video-player-cont {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px; }
    .edc-course-lesson .main-content .videos .video-player-cont:last-child {
      margin-bottom: 0px; }

.edc-course-lesson .main-content .homework-cont {
  position: relative; }
  .edc-course-lesson .main-content .homework-cont .mce-btn-edit {
    position: absolute;
    left: 3px;
    bottom: 3px; }
    .edc-course-lesson .main-content .homework-cont .mce-btn-edit button {
      padding: 1px 4px;
      line-height: 20px; }
      .edc-course-lesson .main-content .homework-cont .mce-btn-edit button .mce-ico {
        background-size: contain;
        background-image: url("../images/icons/pencil.png"); }

.edc-lesson-lists .table .status-cont {
  display: block;
  position: relative; }
  .edc-lesson-lists .table .status-cont .is-online-event {
    font-size: 10px;
    position: absolute;
    top: -6px;
    left: -4px;
    display: block;
    background: yellow;
    transform: rotate(-21deg);
    cursor: default; }

.edc-students-in-admin-section .table .blocked-user {
  color: #d6cccf; }
  .edc-students-in-admin-section .table .blocked-user a {
    color: #d6cccf; }

.edc-search .gsc-control-wrapper-cse {
  visibility: inherit !important; }
  .edc-search .gsc-control-wrapper-cse .gsc-search-box {
    display: block !important; }
  .edc-search .gsc-control-wrapper-cse .gsc-orderby .gsc-option-menu-container {
    white-space: nowrap; }
  .edc-search .gsc-control-wrapper-cse .gsc-adBlock {
    display: none; }

.edc-events-in-admin-section .calendar-cont > iframe {
  width: 100%; }

.top-search-form {
  position: relative;
  height: 100%; }
  .top-search-form .input-search {
    padding-right: 37px; }
  .top-search-form .btn-search {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 0;
    outline: 0;
    right: 10px;
    top: 10px; }
    .top-search-form .btn-search:before {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 20;
      font: normal 20px/1 dashicons !important;
      content: "\f179";
      speak: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

.accordion > .card .card-header {
  margin-bottom: 0px !important; }

.accordion > .card .collapse > .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important; }

.card.border-secondary:before,
.card.border-primary:before,
.card.border-success:before {
  display: block;
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: " "; }

.card.border-secondary:before {
  background: #6c757d; }

.card.border-primary:before {
  background: #007bff; }

.card.border-success:before {
  background: #28a745; }

body.login {
  padding-top: inherit; }
  body.login h1 {
    display: none; }
  body.login #login #nav, body.login #login #backtoblog {
    text-align: center; }

.shake-vertical {
  -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px); }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px); } }

@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px); }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px); }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px); } }

.shake-left {
  -webkit-animation: shake-left 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-left 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes shake-left {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes shake-left {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-11-10 9:14:34
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; } }

.vibrate-1 {
  -webkit-animation: vibrate-1 .3s linear infinite both;
  animation: vibrate-1 .3s linear infinite both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-11-10 9:23:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }
